<html>
<head>
<title> AzureFlask</title>
</head>
<body>

<div class="login">
	<h1>Predict Profit Of a StartUp</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
        <input type="text" name="R&D Spend" placeholder="R&D Spend" required="required" />
        <input type="text" name="Administration" placeholder="Administration" required="required" />
        <input type="text" name="Marketing Spend" placeholder="Marketing Spend" required="required" />
        <input type="text" name="State" placeholder="State" required="required" />
        
        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
   <p><b>PROFIT:</b> {{ prediction_text }}</p>

 </div>
    </body>
</html>